<div class="weather_container">
    <div class="search">
        <input type="text" id="cityInput" placeholder="Введіть місто">
    <button id="loadWeatherBtn" >  
        <img class="loadWeatherBtn_ico" src="modules/custom/weather/image/search.png" alt=""> </button>
    </div>
    
      
  
    <div class="weather_today"></div>

    <div class="weather_today">
   
    </div>
</div>






